@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
} 